
<!DOCTYPE html>
<!-- Opening HTML Tags-->
<html>
    <!-- Opening head Tags-->
<head>
    <!-- Opening head Tags-->
    <title>Newsletter Sign-Up</title>
    <link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<!-- Opening body Tag -->
<body>