
<!DOCTYPE html>
<!-- Opening HTML Tags-->
<html>
    <!-- Opening head Tags-->
<head>
    <!-- Opening head Tags-->
    <title>Newsletter Sign-Up</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<!-- Opening body Tag -->
<body>