<!--Opening the ejs tags for including header file-->
<%- include("./partials/header") %>

<header id="header">
    <a href="#" class="logo">Recovery World Wide</a>
    <ul> 
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>
<section>
    <h2 id="text"><span>It's time for a new</span><br>Beginning</h2>
    <a href="#" id="btn">Explore</a>
</section>

<div class="sec">
    <h2>
        Recovery World Wide 
    </h2>
    <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
    </p>
</div>


<form action="/" method="POST">
    <input type="text" placeholder="First Name" name="firstName"><br><br>
    
    <input type="text" placeholder="Last Name" name="lastName"><br><br>

    <label>Email: </label>
    <input type="email" placeholder="Email" name="email"><br><br>
 
    <button>Submit</button>
</form>
<!--Opening the ejs tags for including footer file-->
<%- include("./partials/footer") %>