<!--Opening the ejs tags for including header file-->
<%- include("./partials/header") %>

<header id="header">
    <a href="#" class="logo"><img src = "images/logo.svg" id="logo2"/></a>
    <ul> 
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>
<section>
    <h2 id="text"><span>It's time for a new</span><br>Beginning</h2>
    <img src="images/bird1.png" id="bird1">
    <img src="images/bird2.png" id="bird2">
    <img src="images/forest.png" id="forest">
    <a href="#" id="btn">Explore</a>
    
    <img src="images/rocks.png" id="rocks">
    <img src="images/water.png" id="water">
</section>

<div class="sec">
    <div class="container">
    <form action="/" method="POST">
       <img src = "images/logo.svg" id="logo2"/> <h2>Newsletter Sign-Up </h2>

        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="firstName" required="required" id="firstName">
                    <span class="text">First Name</span>
                    <span class="line"></span>
                </div>
            </div>
              <div class="col">
                <div class="inputBox">
                    <input type="text" name="lastName" required="required" id="lastName">
                    <span class="text">Last Name</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row100">
            <div class="col">
                <div class="inputBox">
                    <input type="text" name="email" required="required" id="email">
                    <span class="text">Email</span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        
        <div class="row100">
            <div class="col">
               <input type="submit" value="send" id="submitForm">
            </div>
        </div>
    </form>
    </div>
</div>


<!--Opening the ejs tags for including footer file-->
<%- include("./partials/footer") %>